@charset "UTF-8";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}

body{
  
  background: #c2cad4;
    background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2cad4), color-stop(100%, #434b55)) fixed;
    background: #6c7989 -webkit-linear-gradient(#c2cad4, #434b55) fixed;
    background: #6c7989 -moz-linear-gradient(#c2cad4, #434b55) fixed;
    background: #6c7989 -o-linear-gradient(#c2cad4, #434b55) fixed;
    background: #6c7989 -ms-linear-gradient(#c2cad4, #434b55) fixed;
    background: #6c7989 linear-gradient(#c2cad4, #434b55) fixed;
    
  }

body {
  margin: 10px 0 0 0;
}
 .container {
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
  margin: 0 auto;
  width: 500px;
}
 .container .player {
  height: 60px;
  margin: 0;
  position: relative;
  width: 400px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
 /* *zoom: 1;*/
}
/*@media (min-width: 768px) and (max-width: 991px) {
  body .container .player {
    width: 470px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  body .container .player {
    width: 470px;
  }
}
@media (min-width: 1200px) {
  body .container .player {
    width: 470px;
  }
}*/
 .container .player .large-toggle-btn {
  /*border: 0px solid #d9d9d9;*/
  /*border-radius: 5px;*/
  float: left;
  font-size: 1.5em;
  height: 70px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  width: 70px;
}
 .container .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}
 .container .player .large-toggle-btn .large-play-btn:before {
  content: "";
  font: 1.5em/1.75 "FontAwesome";
}
 .container .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}
 .container .player .large-toggle-btn .large-pause-btn:before {
  content: "⏸";
  font: 1.5em/1.75 "FontAwesome";
}
 .container .player .info-box {
  bottom: 10px;
  left: 65px;
  position: absolute;
  top: 15px;
}
 .container .player .info-box .track-info-box {
  float: left;
  font-size: 12px;
  margin: 0 0 6px 0;
  visibility: hidden;
  width: 400px;
  *zoom: 1;
}
 .container .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}
 .container .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  width: 80px;
}
 .container .player .info-box .track-info-box:before, body .container .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}
 .container .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
 .container .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}
 .container .player .progress-box .progress-cell {
  height: 1px;
  position: relative;
}
 .container .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 8px;
  position: relative;
  width: auto;
}
.container .player .progress-box .progress-cell .progress .progress-buffer {
  background: #337ab7;
  height: 100%;
  width: 0;
}
 .container .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 22px;
}
 .container .player .controls-box {
  bottom: 10px;
  left: 350px;
  position: absolute;
}
 .container .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}
 .container .player .controls-box .previous-track-btn:before {
  content: "";
  font: 1em "FontAwesome";
}
 .container .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}
 .container .player .controls-box .next-track-btn:before {
  content: "";
  font: 1em "FontAwesome";
}
 .container .player:before, body .container .player:after {
  content: " ";
  display: table;
}
 .container .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
 .container .play-list {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}
 .container .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}
 .container .play-list .play-list-row .track-title .playlist-track {
  color: #000;
  text-decoration: none;
}
 .container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
 .container .play-list .play-list-row .small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
 .container .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}
 .container .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "";
  font: 0.85em "FontAwesome";
}
 .container .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}
 .container .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "";
  font: 0.85em "FontAwesome";
}
 .container .play-list .play-list-row .track-number {
  display: inline-block;
}
 .container .play-list .play-list-row .track-title {
  display: inline-block;
}
.container .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}
 .container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
 .container .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}
 .container .play-list .play-list-row:before, body .container .play-list .play-list-row:after {
  content: " ";
  display: table;
}
 .container .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*.container {

  text-align: left;
  font-size: 18px;
  color:rgb(93,19,19);
  border-top: 1px solid #fff;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
 background:#b55f2870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#FDD9B5), color-stop(100%, #b55f2870));
  background: -webkit-linear-gradient(#FDD9B5,#b55f2870);
  background: -moz-linear-gradient(#FDD9B5,#b55f2870);
  background: -o-linear-gradient(#FDD9B5,#b55f2870);
  background: -ms-linear-gradient(#FDD9B5, #b55f2870);
  background: linear-gradient(#FDD9B5, #b55f2870);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;

}*/

header {

  
 /* border-top: 10px solid #fff;

  
 background: -webkit-gradient(linear, 50% 50%, 50% 700, color-stop(50%, #53919c), color-stop(100%, #fbdbd2));
  background: -webkit-linear-gradient(#53919c,#fbdbd2 700px);
  background: -moz-linear-gradient(#53919c, #fbdbd2 700px);
  background: -o-linear-gradient(#53919c, #fbdbd2 700px);
  background: -ms-linear-gradient(#53919c, #fbdbd2 700px);
  background: linear-gradient(#6ac7e5, #fbdbd2 100px);
  /*-moz-border-radius:  8px 8px;
  -webkit-border-radius:  8px 8px;
  -o-border-radius:  8px 8px;
  -ms-border-radius:  8px 8px;
  -khtml-border-radius:  8px 0px;
  border-radius:  10px 40px 10px;
  position: relative;*/
  


}

header h1, p {

text-align: center;
color: #596b91;
text-shadow:#ffffff 2px 2px 0;
  
}

header p {

text-align: center;
color: #596b91;
text-shadow:#ffffff 2px 2px 0;
  
}

main {

  text-align:;
  
  border-top: 1px solid #fff;
/*  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
 background:#b55f2870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#FDD9B5), color-stop(100%, #b55f2870));
  background: -webkit-linear-gradient(#FDD9B5,#b55f2870);
  background: -moz-linear-gradient(#FDD9B5,#b55f2870);
  background: -o-linear-gradient(#FDD9B5,#b55f2870);
  background: -ms-linear-gradient(#FDD9B5, #b55f2870);
  background: linear-gradient(#FDD9B5, #b55f2870);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;*/

}

footer {


  text-align: center;
  color:rgb(93,19,19);
  border-top: 1px solid #fff;
 /* -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 80px 80px 80px 80px;
 background:#b55f2870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#FDD9B5), color-stop(100%, #b55f2870));
  background: -webkit-linear-gradient(#FDD9B5,#b55f2870);
  background: -moz-linear-gradient(#FDD9B5,#b55f2870);
  background: -o-linear-gradient(#FDD9B5,#b55f2870);
  background: -ms-linear-gradient(#FDD9B5, #b55f2870);
  background: linear-gradient(#FDD9B5, #b55f2870 500px);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;*/

}

footer h3{
  
  color: rgb(85,44,12);
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}

footer li {
  
  text-align: left;
  
}


section  {
  
  text-align: center;
  color:rgb(17,122,151);
  border-top: 10px solid #fff;

  
 /*background: -webkit-gradient(linear, 50% 0%, 50% 700, color-stop(0%, #53919c), color-stop(100%, #fbdbd2));
  background: -webkit-linear-gradient(#53919c,#fbdbd2 700px);
  background: -moz-linear-gradient(#53919c, #fbdbd2 700px);
  background: -o-linear-gradient(#53919c, #fbdbd2 700px);
  background: -ms-linear-gradient(#53919c, #fbdbd2 700px);
  background: linear-gradient(#6ac7e5, #fbdbd2 700px);
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative;*/
  
}

section h2 {
  color: #1c3f85;
text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  
}


section h3 {
  color:rgb(10,80,99);
text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  
}
section div {
  

}

section li {
  
  text-align: left;
  color:rgb(6,64,98);
  padding: 15px 15px;
}

/* Стили кнопки */
.button{
  display: inline-block;
  cursor: pointer; font-size:18px;
  text-decoration:none;
  padding:10px 20px; 
  color:#354251;
  background: #ffff0;
  border-radius:25px;
  border:2px solid #354251;
  }

  .button:hover{
  background:#354251;
  color:#ffffff;
  border:2px solid #354251;
  transition: all 0.2s ease;
  }



